/* CSS Document */
/* All comments go between the front slash and asterisk symbols */

body {
	background-color:#95D597;   /* background color */
	color: #010101;          /* text color for the entire page */
	font-size: 15px;
	font-family: Verdana, Geneva, sans-serif;
}

h1, h2 { 
	text-align:center;     /* centers h1 and h2 content */
}

/* styles for the "wrapper" div, notice that "wrapper" is preceded by "#" */
#wrapper {
	width:900px;
	margin:0 auto;    /* centers wrapper */
}

/* styles for the "stepTitle" class, notice that "stepTitle" is preceded by a dot */
.stepTitle{
	padding:4px;
	text-align:center;
	font-size:14px;
	font-weight: bold;
	border-style: double;
	background-color:#F4F1F1;
 	border-radius: 20px;
	box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 white;
 }

.stepContent{ 
	background-color: #DDDDDD;
	padding:7px;
	text-align:justify;
	display: flex;
	justify-content: center;
	border-style: solid;
	border-color: #8D8D8D;
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 white;
}

.stepDescription {
	width:55%;
	padding:5px;
}

.stepImage {
	width:40%;	
	padding:5px;
	font-size:10px;
	text-align: center;
}



