@charset "utf-8";
/* CSS Document */

body {
	text-align: center; 
}

#bootstrap-overrides h1 {
	text-align:center; /* centers h1 content */
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic, sans-serif;
	text-shadow: #247F0E 1px 0 10px;
}

#bootstrap-overrides h2 {
	text-align:center; /* centers h2 content */
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic, sans-serif;
	text-shadow: #247F0E 1px 0 10px;
}

#bootstrap-overrides h3 {
	text-align:center; /* centers h3 content */
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic, sans-serif;
	text-shadow: #247F0E 1px 0 10px;
}

#top a {
	text-align:center;
	padding: 9px;
	margin: 10px;
	font-size: 125%;
	background-color: #AFF1A6;
	color: #010101;
	border-radius: 15px;
	box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 white
}

#top a:hover {
	font-size:135%;
	background-color: #888A87; 
	color: #FFFFFF;
}

#top2 a {
	text-align:center;
	padding: 9px;
	margin: 10px;
	font-size: 125%;
	background-color: #FFFFFF;
	color: #010101;
	border-radius: 15px;
	box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 white
}

#top2 a:hover {
	font-size:135%;
	background-color: #888A87; 
	color: #FFFFFF;
}

#golf_bunker {
border: black 5px solid;
}

#wrapper {
width: 900px;
margin: 0 auto;
text-align: center;
}