@charset "utf-8";
/* CSS Document */

body {
	text-align: center;
	background: linear-gradient(110deg, #BEBABA 60%, #F7EFEF 60%);  
}

h1 {
	text-align:center; /* centers h1 content */
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic, sans-serif;
	text-shadow: #EF5D5f 1px 0 10px;
}

h2 {
	text-align:center; /* centers h2 content */
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic, sans-serif;
	text-shadow: #247F0E 1px 0 10px;
}

a {
	padding: 9px;
	margin: 10px;
	font-size: 125%;
	background-color: #A02020; 
	color: #FFFFFF;
	border-radius: 15px;
	box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 white
}

a:hover {
	font-size:175%;
	background-color: #EF5D5F; 
	color: #FFFFFF; 
}