/* CSS Document */
/* All comments go between the front slash and asterisk symbols */

body {
	background: linear-gradient(110deg, #53C038 60%, #236314 60%);   /* background color */
	color: #010101;          /* text color for the entire page */
	font-size: 15px;
	font-family: Verdana, Geneva, sans-serif;
}

h1, h2 { 
	text-align:center; /* centers h1 and h2 content */
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic, sans-serif;
	text-shadow: #247F0E 1px 0 10px;
}

/* styles for the "wrapper" div, notice that "wrapper" is preceded by "#" */
#wrapper {
	width:900px;
	margin:0 auto;    /* centers wrapper */
}

/* styles for the "stepTitle" class, notice that "stepTitle" is preceded by a dot */
.stepTitle{
	padding:4px;
	text-align: left;
	font-size:14px;
	font-weight: bold;
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic, sans-serif;
	border-style: double;
	background-color:#F4F1F1;
 	border-radius: 20px;
	box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 white;
 }

.stepContent{ 
	background-color: #DDDDDD;
	padding:7px;
	text-align:justify;
	display: flex;
	justify-content: center;
	border-style: solid;
	border-color: #8D8D8D;
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 white;
}

.stepDescription {
	width:55%;
	padding:5px;
	font-size:20px;
	font-family: Papyrus, Fantasy;
}

.stepImage {
	width:40%;	
	padding:5px;
	font-size:10px;
	text-align: center;
}

.warning {
	background-color: #FBB8C4;
	padding:10px;
	border-radius:20px;
	border-style: solid;
	border-width: thin;
}

.material-icons{
	font-size:100px;
}

.warningIcon {
	font-size: 3em;
	color:red;
}